*{
  padding:0;
}

html {
  height: 100vh;
  font-size: 62.5%;
}
.App {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  /*#282a36*/
}

header {
  display: flex;
  place-content: center;
}

header .container{
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  height: 60px;
  width: 100%;
  max-width: 1080px;
}


header .row {
  font-size: 1.6rem;
  margin: 0;
  width: 100%;
  place-items: center;
  justify-content: space-between;
}

header #logo{
  height: 4rem;


}

header .shopping-status {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 100%;

}
header .shopping-cart {
  font-size: clamp(2rem, 2.4rem, 3rem);
  
}
header .shopping-count {
  font-size: clamp(1rem, 1.2rem, 1.6rem);
}

header .user-login {
  padding: 0;
  font-size: clamp(2rem, 3.5rem, 4rem);
}

.menu-vertical .nav-link{
  margin-top: 1vh;
  font-size: 1.6rem;
}

.content {
  width: 100%;
  min-height: 88vh;
}

footer{
  place-items: center;
  padding: 0;
  height: 30px;
  width: 100%;
  bottom: 0;
}

footer .row {
  font-size: 1.4rem;
}





.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
