.bg-light-gray{
    color: #000000;
    background-color: #f4f4f4;
}


.bg-blue{
    color: #fff;
    background: #2B2E4A;
}


.color-white {
    color: #fff;
}
.color-blue {
    color: #3E58B0;

}
/*Margin - m
Padding - p
bottom - b
top - t
left - l
right - r

*/

.mtb-10 {
    margin: 10px 0;
}

.mtb-n10 {
    margin: -10px 0;
}

.mlr-10 {
    margin: 0 10px;
}

.mlr-n10 {
    margin: 0 -10px;
}

/*Alinhamentos*/
.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}